{% extends "base.html" %}


{% block js %}
{% endblock %}


{% block main %}
<div>
	<div id="main_">
		<div id="left">
			<div id="photo"><img src="http://orig03.deviantart.net/9e8e/f/2009/071/5/f/avatar_by_dkf.png">
			</div>
		</div>
		<div id="right">
			<div id="name">Craig McLaren</div>
			<div id="date">Today is: {{ date }}</div>
			<div id="info">
				Username: madman </br>
				ID: 607009221 </br>
				Sex: Male </br>
				Highest Score: 150 </br>
				TDollars: 215 </br>
			</div>
		</div>
	</div>
</div>
{% endblock %}
